/* Base styles */
* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

body {
  min-width: 200px;
  max-width: 100%;
  background-color: #fafafa;
  margin: 0;
  padding: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 13px;
  line-height: 1.5;
  word-wrap: break-word;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #dddddd;
    background-color: #282828;
  }
}

/* Links */
a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #429CFF;
  }
}

/* Typography */
strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

h1 {
  font-size: 1em;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 0.3em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.875em;
}

h6 {
  font-size: 0.85em;
  color: #6a737d;
}

@media (prefers-color-scheme: dark) {
  h1 {
    border-bottom-color: #3A3939;
  }
}

/* Horizontal rules */
hr {
  background-color: #c5c5c5;
  border: 0;
  height: 0.1em;
  margin: 12px 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  hr {
    background-color: #403f3e;
  }
}



/* Lists */
ol, ul {
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 2em;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ol ol ol,
ol ul ol,
ul ol ol,
ul ul ol {
  list-style-type: lower-alpha;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  word-wrap: break-all;
}

li > p {
  margin-top: 16px;
}

li + li {
  margin-top: 0.25em;
}

/* Definition lists */
dl {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 16px;
  padding: 0;
}

dl dd {
  margin-left: 0;
  margin-bottom: 16px;
  padding: 0 16px;
}

/* Blockquotes */
blockquote {
  margin: 0;
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

/* Tables */
table {
  display: block;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  width: 100%;
}

table th {
  font-weight: 600;
}

table td,
table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

/* Images */
img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
  border-style: none;
}

img[align=right] {
  padding-left: 20px;
}

img[align=left] {
  padding-right: 20px;
}

@media (prefers-color-scheme: dark) {
  img {
    background-color: #252424;
  }
}

/* Code */
code,
kbd,
pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
}

pre {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 5px;
  border: 1px solid #E6E5E6;
  overflow: auto;
  padding: 8px;
  word-wrap: normal;
}

pre > code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

@media (prefers-color-scheme: dark) {
  pre {
    background-color: #292A2F;
    border-color: #3E3F44;
  }
}

/* Keyboard input */
kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

/* Details/Summary */
details {
  display: block;
}

summary {
  display: list-item;
  cursor: pointer;
}

/* Form elements */
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  overflow: visible;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

:checked + .radio-label {
  border-color: #0366d6;
  position: relative;
  z-index: 1;
}
